In [38]:
import pandas as pd

### Specify the path to CSV file

In [39]:
csv_file_path = 'RAW DATA Pre placement project .csv'  # Update this with the actual path

### Read the CSV file into a DataFrame

In [40]:
df = pd.read_csv(csv_file_path)
df

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
1,2,Shikhar Dhawan,PKBS,217,216,29,6617,106*,35.39,5203,127.18,2,50,750,148
2,3,David Warner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,Rohit Sharma,MI,243,238,28,6211,109*,29.58,4776,130.05,1,42,554,257
4,5,Suresh Raina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,131,Gurkeerat Mann Singh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11
131,132,Sai Sudharsan,GT,13,13,2,507,96,46.09,370,137.03,0,4,47,15
132,133,Owais Shah,RR,23,22,7,506,76,33.73,389,130.08,0,4,34,23
133,134,Paul Valthaty,PBKS,23,23,1,505,120,22.95,418,120.81,1,2,61,20
134,135,Sam Billings,KKR,30,27,1,503,56,19.35,388,129.64,0,3,40,20

# Cleaning the data

#### 1. Removing asterisks from the 'HS' column and converting to numeric

In [41]:
df['HS'] = pd.to_numeric(df['HS'].str.replace('*', ''), errors='coerce')

C:\Users\VISHWAVIJAY\AppData\Local\Temp\ipykernel_18544\465319984.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['HS'] = pd.to_numeric(df['HS'].str.replace('*', ''), errors='coerce')

#### 2. Converting columns with numeric values to the appropriate numeric type

In [42]:
numeric_columns = ['Mat', 'Inns', 'NO', 'Runs', 'Avg', 'BF', 'SR', '100', '50', '4s', '6s']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
1,2,Shikhar Dhawan,PKBS,217,216,29,6617,106,35.39,5203,127.18,2,50,750,148
2,3,David Warner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,Rohit Sharma,MI,243,238,28,6211,109,29.58,4776,130.05,1,42,554,257
4,5,Suresh Raina,CSK,205,200,30,5528,100,32.52,4042,136.76,1,39,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,131,Gurkeerat Mann Singh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11
131,132,Sai Sudharsan,GT,13,13,2,507,96,46.09,370,137.03,0,4,47,15
132,133,Owais Shah,RR,23,22,7,506,76,33.73,389,130.08,0,4,34,23
133,134,Paul Valthaty,PBKS,23,23,1,505,120,22.95,418,120.81,1,2,61,20
134,135,Sam Billings,KKR,30,27,1,503,56,19.35,388,129.64,0,3,40,20

## Save the cleaned data to a new CSV file

In [43]:
df.to_csv('cleaned_ipl_data.csv', index=False)

# Check for null values in the DataFrame

In [44]:
if df.isnull().any().any():
    # Handle null values
    print("There are null values in the DataFrame. Handling them...")
    # Your code to handle null values goes here
else:
    print("There are no null values in the DataFrame.")
    # Your code for when there are no null values goes here

There are no null values in the DataFrame.

### Code to install package MySQL connector python

In [45]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vishwavijay\onedrive\documents\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\vishwavijay\onedrive\documents\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [46]:
import mysql.connector as sql

#### created a database by name "ipl_database" by Loging into the MySQL instance

In [47]:
db = sql.connect(host='localhost', user='root', password='Vishu9744', database='ipl_database') 
cursor = db.cursor()

# Connect to the MySQL database

In [48]:
conn = sql.connect(
    host='localhost',
    user='root',
    password='Vishu9744',
    database='ipl_database')

#### Create a cursor object to execute SQL queries

In [49]:
cursor = conn.cursor()

# SQL statement to create the IPLPlayerStats table

In [50]:
create_table_sql = '''
    CREATE TABLE IF NOT EXISTS IPLPlayerStats (
        POS INT,
        Player VARCHAR(50),
        Team VARCHAR(50),
        Mat INT,
        Inns INT,
        NO INT,
        Runs INT,
        HS VARCHAR(10),
        Avg FLOAT,
        BF INT,
        SR FLOAT,
        centuries INT,
        half_centuries INT,
        fours INT,
        sixes INT
    )
'''

#### Execute the SQL statement to create the table

In [51]:
cursor.execute(create_table_sql)

#### Commit the changes and close the connection

In [52]:
conn.commit()
conn.close()

In [53]:
df = pd.read_csv('cleaned_ipl_data.csv')

### Using the SQLAlchemy library to create a connection to a MySQL database

In [54]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:Vishu9744@localhost/ipl_database')

# Insert DataFrame into MySQL

In [55]:

df.to_sql('cleaned_ipl_data', con=engine, if_exists='replace', index=False)

135